[Unit]
Description=Alert Manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/alertmanager \
  --config.file=/etc/prometheus/alertmanager.yml \
  --storage.path=/var/lib/alertmanager \
  --cluster.advertise-address=0.0.0.0:9093 \
  --cluster.listen-address=0.0.0.0:9094

Restart=always

[Install]
WantedBy=multi-user.target